.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #{fade-out($white, 1)}, #{fade-out($black, .8)} 20%,#{fade-out($black, .2)} 100%), url('../img/live.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  @media (min-width: 992px) {
    min-height:25rem;
  }
}

.doyou-section {
  padding-top: 1rem;
  background: linear-gradient(to bottom, #{fade-out($black, 0)}, #{fade-out($black, .8)} 10%,#{fade-out($black, .2)} 100%), url('../img/do-you.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height:10rem;
}
