.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: radial-gradient(#{fade-out(#ffffff, 1)} 70%, #{fade-out(#000000, 0.5)}), url('../img/bg-masthead.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  img {
    max-width: 90%;
    margin-bottom: 4rem;
  }

  .social {
    margin-top: 10%;
    a {
      text-align: center;
      height: 2.5rem;
      width: 2.5rem;
      background: $head;
      border-radius: 100%;
      display: inline-block;
      line-height: 2.5rem;
      color: $white;
      &:hover {
        background-color: $primary;
      }
      &:active {
        color: $white;
      }
    }
  }

  @media(min-width: 768px) {
    img {
      max-width: 70%;
      padding-top: 9rem;
    }
  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
    img {
      max-width: 50%;
    }
  }
}
