#mainNav {
  min-height: 56px;
  background-color: $black;
  .navbar-toggler {
    width: 100%;
    padding: 0.75rem;
    color: $white;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: .9rem 0;
    display: none;

    img {
      width: 80%;
      margin-top: 0.1rem;
    }
  }

  .nav-link {
    color: $white;
    text-align: center;
  }

  .navbar-nav {
    text-transform: uppercase;
    .nav-item {
      &:hover {
        color: fade(white, 100%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background: transparent;
    .navbar-brand {
      padding: 0;
      width: 20%;
      display: hidden;
    }
    .nav-link {
      transition: none;
      padding: 1.5rem 1.5rem 1.25rem;
      color: fade-out($white, .1);
      border-top: 0.25rem solid transparent;
      &:hover {
        color: fade-out($white, .25);
      }
      &:active {
        color: white;
      }
    }
    &.navbar-shrink {
      background: linear-gradient(to bottom, $head 0%, #{fade-out($head, .1)} 90%,#{fade-out($head, .9)} 100%);
      .navbar-brand {
        color: $white;
        display: block;
      }
      .nav-link {
        color: $white;
        padding: 1.5rem 1.5rem 1.25rem;
        border-top: 0.25rem solid transparent;
        &:hover {
          color: $primary;
        }
        &:active {
          color: lighten($primary, 15%);
        }
        &.active {
          color: $primary;
          outline: none;
          border-top: 0.25rem solid $primary;
        }
      }
    }
  }
}
