.song-section {
  position: relative;
  width: 100%;
  height: auto;

  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
  }
}

.news-section {
  padding: 5rem 0;
  background-color: $gray-400;

  .portraits {
    padding-top: 1rem;

    img {
      width: 100%;
    }

    p {
      padding-left:0.5rem;
    } 

  }
  .portraits > div > .row  div {
    @media (min-width: 576px) {
      min-height:13rem;
    }

  }

  .news-text {
    padding: 1rem;
    @media (min-width: 992px) {
      padding: 1rem;
    }
  }
}

#gigstable {
  font-size:80%;

  .upcominggigs, .pastgigs {
    padding-left: 1.5rem;
    padding-right:1.5rem;
  }
  .upcominggigs {
    padding-bottom: 1.5rem;
  }
  .upcominggigs .row:first-of-type, .pastgigs .row:first-of-type {
    border-top:1px solid white;
  }
  
  .row {
    padding-bottom:0.5rem;
    padding-top:0.5rem;
    border-bottom:1px solid white;
    div.text {
      overflow: hidden;
    }
  }

}

.contact-section {
  padding: 12rem 0;
  background-color: $black;

  a {
    color: white;
    text-decoration: underline;
  }

  ul li {
    font-size: 90%;
  }

  .contact-text {
    padding: 1rem;
    @media (min-width: 992px) {
      padding: 1rem;
    }
  }
}
