.song-section {
  position: relative;
  width: 100%;
  height: auto;

  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
  }
}

.news-section {
  padding: 5rem 0;
  background-color: $gray-400;

  .news-text {
    padding: 1rem;
    @media (min-width: 992px) {
      padding: 1rem;
    }
  }
}

.contact-section {
  padding: 12rem 0;
  background-color: $black;

  .contact-text {
    padding: 1rem;
    @media (min-width: 992px) {
      padding: 1rem;
    }
  }
}
