@import 'variables.scss';
@import 'navbar.scss';
@import 'masthead.scss';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

@media (min-width: 1200px){ 
  .container {
      max-width: 1140px;
  }
}